header.header
    .header__column
        a(href=routes.home)
            i.fab.fa-grimace
    .header__column
        form(action=routes.search ,method="get", name="term")
            input(type="text", placeholder= "Search by term")
    .header__column
        ul
            if !user.isAuthenticated
                li 
                    a(href=routes.join) join
                li
                    a(href=routes.login) login
            else
                li
                    a(href=`/videos${routes.upload}`) upload
                li
                    a(href=routes.userDetail(user.id)) profile
                li
                    a(href=routes.logout) logout